* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Figtree", sans-serif;
	cursor: default;
	letter-spacing: 0px;
}

body {
	background-color: #F4D04E;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

.card {
	background-color: #FFFFFF;
	border-radius: 16px;
	border: solid 1px #000;
	box-shadow: 7px 7px 0px 2px rgba(0, 0, 0, 1);
	padding: 24px;
	width: 384px;
	height: 522px;
}

.btn {
	background-color: #F4D04E;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;
	margin-top: 18px;
	margin-bottom: 14px;
	width: 82px;
	height: 29px;
	cursor: pointer;
}

.date {
	font-size: 14px;
	font-weight: 500;
	color: #111;
	margin-bottom: 22px;
}

.title {
	font-size: 24px;
	font-weight: 800;
	color: #111;
	margin-bottom: 24px;
	cursor: pointer;
	transition: 0.3s;
}

.title:hover {
	color: #F4D04E;
}

.info {
	font-size: 16px;
	font-weight: 500;
	color: #6B6B6B;
	width: 336px;
}

.author {
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: bold;
	color: #111;
	margin-top: 32px;
}

.autor {
	width: 32px;
	height: 32px;
	margin-right: 10px;
}

@media (max-width: 420px) {
	.card {
		width: 327px;
		height: 501px;
	}

	.logo {
		width: 279px;
		height: 200px;
	}

	.btn {
		width: 73px;
		height: 26px;
		font-size: 12px;
	}

	.date {
		font-size: 12px;
		margin-bottom: 18px;
	}

	.title {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.info {
		font-size: 14px;
		width: 279px;
	}
}